<div class="flex justify-center h-screen w-auto py-4 overflow-auto">
  <div class="w-full h-max overflow-auto md:w-96 px-8">
    <div *ngFor="let contact of contacts">
     <p class="font-mono text-xl"> {{ contact.name }}</p>
      <div class="flex items-center space-x-2" *ngFor="let phone of contact.phoneNumbers">
        <input
          class="cursor-pointer"
          type="checkbox"
          (change)="onChecked(phone, $any($event.target).checked)"
        />
       <div class="font-mono text-xl"> {{ phone }}</div>
      </div>
    </div>

  <div class="flex justify-end">
    <button
    class="px-2.5 py-2 text-center font-thin text-base focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 rounded-lg mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    (click)="save()"
  >
    Save
  </button>
  </div>
  </div>
</div>
